#logo a { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/logo.png', sizingMethod='image'); cursor:pointer; }

.slider-effect { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/slider-effect.png', sizingMethod='image'); }

.slider-navigation ul li a { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/slider-navigation-normal.png', sizingMethod='image'); cursor:pointer; }

.slider-navigation ul li a.active,
.slider-navigation ul li a:hover { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/slider-navigation-active.png', sizingMethod='image'); }
